* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
}

.code-wrapper {
  height: 30vh;
  background: #1E1E1E;}
  .code {
    padding: 10px;
    color: #DCDDA4;
    height: 100%;
    overflow: auto;}
    .controller {
      position: fixed;
      top: 10px;
      right: 10px;}
      button {
        background: white;
        color: black;
        padding: 5px;
        border-radius: 5px;
        border: none;
        outline: black;}
      button:hover {
        background: #0095FF;
        color:white;}
      button.active {
        box-shadow: 0px 0px 3px black;
        background: #0095FF;
        color:white;
}

.spider-wrapper {
  background: #786969;
  height: 70vh;
}
  
@media (min-width:1000px) {
  body{
    display: flex;}
    .code-wrapper,
    .spider-wrapper{
      height: 100vh;
      width: 50%;}
}